*
{
	margin: 0px;
	padding: 0px;
}
/*Хэдер*/
header
{
	height: 1006px;
	max-width: 100%;
	background-image: url(../images/Header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.ref
{
	display: flex;
	justify-content: space-around;
	background-color:#241c3b;
	height: 80px;
	align-items: center;
	position: absolute;
	width: 100%;
}

.ref > nav
{
	width: 900px;
}

.ref > nav > ul
{
	font-family: Montserrat Medium;
	font-size: 26px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	list-style: none;
}

.ref > nav > ul > li
{
	margin-left: 15px;
}

.ref > nav > ul > li > a
{
	text-decoration: none;
	color: white;
}

.ref_submenu > li > a
{
	text-decoration: none;
	color: white;
}

.ref_submenu > li > a:hover
{
	color: black;
	transition: 0.3s;
}

.ref_menu
{
	position: absolute;
	top: 25px;
	right: 70px;
}

.ref_submenu
{
	width: 56%;
	list-style: none;
	display: none;
	position: absolute;
	top: 100%;
	left: 12px;
	text-align: center;
	background-color: #7b60c2;
	font-size: 15px;
	padding: 5px;
	height: 30px;
}


.ref > nav > ul > li
{
	padding-bottom: 24px;
}


.ref_menu_with_submenu:hover > .ref_submenu
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.ref_logo
{
	display: flex;
	align-items: center;
	margin:0px 20px 0px 20px;
}


.ref_logo > p
{
	font-size: 37px;
	color: white;
	font-family: Montserrat ExtraBold;
}

.fixed_header
{
	position: fixed;
	z-index: 3;
	width: 100%;
}

/*Первый ряд хедера(лого + кнопка регистрации)*/
.container
{
	max-width: 1350px;
	display: flex;
	flex-direction: column;
	margin: 0px auto;
}

.header
{
	display: flex;
	justify-content: space-between;
}

.logo
{
	margin-top: 40px;
	display: flex;
	align-items: center;
}

.logo > h1
{
	font-family: 'Montserrat ExtraBold';
	color: white;
	font-size: 96px;
}

.logo > a
{
	font-family: 'Montserrat Medium';
	color: white;
	font-size: 21px;
	text-decoration: none;
	background-color: #4E3493;
	border:solid 2px white;
	padding: 20px 10px;
}

.logo > a:hover
{
	color: #7b60c2;
	transition: 0.3s;
}


/*Первое меню*/


.nav1
{
	margin-top: 50px;
	display: flex;
	max-width: 760px;
	justify-content: space-between;
	font-family: 'Montserrat Regular';
	font-size: 20px;
}

.nav1 > a
{
	color: white;
	text-decoration: none;
}

.nav1 > a:hover
{
	color: #4E3493;
	transition: 0.3s;
}

#cart
{
	background-color: #087d6a;
	border-radius: 10px;
	padding: 3px;
}

/*Второе меню*/

.nav2
{
	margin-top: 50px;
	max-width: 760px;
	justify-content: space-around;
	font-family: 'Montserrat Medium';
	font-size: 26px;
	background-color: #4E3493;
	border-bottom: white solid 6px;
	height: 55px;
}

.burger_menu
{
	display: none;
}

.burger_icon
{
	display: none;
}


.burger_submenu
{
	display: none;
}

.burger_submenu > ul
{
	list-style: none;
}

.burger_submenu > ul > li > a
{
	text-decoration: none;
	color: white;
}

.nav2 > ul > li > a
{
	text-decoration: none;
	color: white;
}

.nav2 > ul > li
{
	position: relative;
	padding-bottom: 18px;
}

.nav2 > ul
{
	position: absolute;
	padding: 12px 0px 12px 0px;
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 760px;
}

.nav2 > ul > li:hover > a
{
	color: black;
	transition: 0.3s;
}

.submenu
{
	width: 750px;
	list-style: none;
	display: none;
	position: absolute;
	top: 100%;
	left: -46px;
	text-align: center;
	background-color: #7b60c2;
	font-size: 15px;
	padding: 5px;
	height: 30px;
}

body.mouse  .menu_arrow
{
	display: none;
}

body.touch  .menu_arrow
{
	display: inline;
	color: white;
	font-size: 24px;
}

body.touch  .touch_a
{
	display: inline;
	color: white;
	font-size: 24px;
}

body.touch  .mouse_a
{
	display: none;
}

.touch_a
{
	display: none;
}

.nav2 > ul > li:hover > .menu_arrow
{
	color: black;
	transition: 0.3s;
}

body.touch  .submenu
{
	top: 99%;
	left: -42px;
	height: 70px;
}

body.touch  .submenu_pitbikes
{
	left: -293px;
}

body.touch  .submenu_ATVs
{
	left: -522px;
}

.submenu_pitbikes
{
	left: -296px;
}

.submenu_ATVs
{
	left: -524px;
}

.submenu > li > a
{
	text-decoration: none;
	color: whitesmoke;
}

.submenu > li > a:hover
{
	color: black;
	transition: 0.3s;
}


.nav2 > ul > li:hover .submenu
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*Слайдер*/

.news_slider
{
	max-width: 760px;
	height:380px;
	margin-top: 110px;
	background-color: white;
	border:solid 5px #4E3493;
}

.slide_photo_1
{
	background-image: url(../images/slider/img1.png);
	max-width: 751px;
	height: 371px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
}

.slide_photo_2
{
	background-image: url(../images/slider/img2.png);
	max-width: 751px;
	height: 371px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
}

.slide_photo_3
{
	background-image: url(../images/slider/img3.png);
	max-width: 751px;
	height: 371px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
}




/*Контент*/

main
{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.goods_section
{
	margin-top: 90px;
	display: flex;
	flex-direction: column;
}

.title
{
	font-size: 76px;
	font-family: Montserrat SemiBold;
	align-self: center;
	margin-top: 80px;
	margin-bottom: 10px;
	text-align: center;
}

.info_text
{
	font-family: Montserrat Regular;
	text-align: left;
	font-size: 20px;
}

.goods
{
	display: flex;
	justify-content: flex-start;
	margin-top: 30px;
	flex-wrap: wrap;
}

.goods_card
{
	max-width: 320px;
	height: 400px;
	border:2px solid #4E3493;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-left: 20px;
	margin-top: 20px;
}

.goods_card_image
{
	width: 200px;
	height: 135px;
	background: url(../images/goods/Bse_Z1.jpeg);
	background-size: 200px 135px;
	background-repeat: no-repeat;
}

.goods_card > p:nth-child(2)
{
	font-size: 15px;
	font-family: Montserrat Regular;
	text-align: center;
	width: 230px;
}

.goods_card > p:nth-child(3)
{
	font-size: 25px;
	font-family: Montserrat SemiBold;
	text-align: center;
	width: 230px;
}

.goods_card > button
{
	max-width: 170px;
	height: 40px;
	padding: 0px 30px;
	background-color: #4E3493;
	border:solid #4E3493 2px;
}

.goods_card > a
{
	text-decoration: none;
	font-family: Montserrat SemiBold;
	font-size: 15px;
	color: white;
	max-width: 170px;
	height: 45px;
	padding: 10px 30px;
	background-color: #4E3493;
	border:solid #4E3493 2px;
}

.goods_card > a:hover
{
	color: #4E3493;
	transition: 0.3s;
	background-color: white;
}


/*Футер*/

footer
{
	margin-top: 90px;
	width: 100%;
	background-color: #4E3493;
}

.footer_nav
{
	font-size: 40px;
	max-width: 1350px;
}

.footer_nav > a:hover
{
	color: white;
	text-decoration: underline;
	transition: 0.3s;
}

.payment_methodsANDsocial_media
{
	margin-top: 80px;
	display: flex;
	font-family: Montserrat Regular;
	font-size: 20px;
	color: white;
	height: 80px;
	justify-content: space-between;
}

.payment_methods
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.payment_methods_img
{
	display: flex;
	justify-content: space-between;
	align-self: flex-end;
	width: 100px;

}


#method1
{
	width: 27px;
	height: 19px;
	background-repeat: no-repeat;
	background-image: url(../images/payment_methods/m1.png);
}

#method2
{
	width: 27px;
	height: 19px;
	background-repeat: no-repeat;
	background-image: url(../images/payment_methods/m2.png);
}

#method3
{
	width: 27px;
	height: 19px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/payment_methods/m3.png);
}

.social_media
{
	display: flex;
	justify-content: space-between;
	width: 120px;
	align-self: flex-end;
}

#social_media1
{
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../images/social_media/s1.png);
}

#social_media2
{
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../images/social_media/s2.png);
}


#social_media3
{
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../images/social_media/s3.png);
}


#social_media4
{
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../images/social_media/s4.png);
}

.copyrightANDaddress
{
	display: flex;
	justify-content: space-between;
	font-family: Montserrat Regular;
	font-size: 20px;
	color: white;
	margin-top: 45px;
}

.copyrightANDaddress > p:nth-child(1)
{
	text-align: left;
}

.copyrightANDaddress > p:nth-child(2)
{
	text-align: right;
}








@font-face
{
	src:url(fonts/Montserrat-Regular.ttf);
	font-family: Montserrat Regular;
}

@font-face
{
	src:url(fonts/Montserrat-Medium.ttf);
	font-family: Montserrat Medium;
}

@font-face
{
	src:url(fonts/Montserrat-SemiBold.ttf);
	font-family: Montserrat SemiBold;
}

@font-face
{
	src:url(fonts/Montserrat-ExtraBold.ttf);
	font-family: Montserrat ExtraBold;
}

@media screen and (max-width: 1280px)
{
	.goods
	{
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.goods_card
	{
		margin-bottom: 10px;
		width: 260px;
		height: 440px;
	}

	.footer_nav
	{
		font-size: 20px;
	}

	.copyrightANDaddress
	{
		font-size: 10px;
	}
	.logo > h1
	{
	font-size: 80px;
	}

	header
	{
		background-size: 1280px 906px;
		background-position: 0px 0px;
	}


	.ref_logo > p
	{
		font-size: 20px;
	}

	.ref > nav > .ref_menu
	{
		font-size: 20px;
		max-width: 100%;
	}

	.ref > nav > ul > li
	{
		padding-bottom: 4.3%;
	}
}

@media screen and (max-width: 770px)
{
	.ref_logo > p
	{
		font-size: 20px;
	}

	.ref > nav > .ref_menu
	{
		font-size: 15px;
		max-width: 800px;
	}



	.logo > h1
	{
		font-size: 60px;
	}
	.logo > a
	{
		font-size: 16px;
		border:solid 1px white;
		padding: 10px 10px;
	}
	.nav1 > a
	{
		font-size: 15px;
	}
	header
	{
		background-position: 0px 0px;
		background-size: 770px 500px;
	}

	main.index_main
	{
		margin-top: -150px;
	}



	.slide_photo_1
	{
		background-image: url(../images/slider/img1.png);
		max-width: 751px;
		height: 300px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: cover;
	}

	.slide_photo_2
	{
		background-image: url(../images/slider/img2.png);
		max-width: 751px;
		height: 300px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: cover;
	}

	.slide_photo_3
	{
		background-image: url(../images/slider/img3.png);
		max-width: 751px;
		height: 300px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: cover;
	}
	.news_slider
	{
		max-width: 755px;
		height: 310px;
		margin-top: 195px;
	}

	.nav1
	{
		display: none;
	}

	.nav2 > ul
	{
		display: none;
	}

	.burger_menu
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%
	}
	.burger_menu > a
	{
		text-decoration: none;
		color: white;
		font-weight: bold;
		margin-left: 5%;
	}

	.burger_menu > div
	{
		margin-right: 5%;
	}

	.burger_icon
	{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}

	.burger_icon:before,
	.burger_icon:after
	{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height:3px;
		left: 0;
	}

	.burger_icon.active > span
	{
		transform: scale(0);
		transition: 0.5s ease;
	}

	.burger_icon.active:before
	{
		transform: rotate(45deg);
		top: 8px;
		transition: 0.5s ease;
	}

	.burger_icon.active:after
	{
		transform: rotate(-45deg);
		bottom: 9px;
		transition: 0.5s ease;
	}

	.nav2
	{
		position: relative;
	}

	.burger_submenu
	{
		display: flex;
		position: absolute;
		justify-content: center;
		background-color:#7b60c2;
		width: 100%;
		top: 111%;
		left: -1000%;
		z-index: 2;
		padding: 10px 0 10px 0;
		font-size: 20px;
		transition: all 0.6s ease 0s;
	}

	.burger_submenu.active
	{
		display: flex;
		left: 0%;
	}

	.burger_submenu.ref
	{
		top: 80px;
		height: 700px;
		font-size: 30px;
		font-family: Montserrat;
		justify-content: space-around;
	}


	.burger_submenu > ul > li
	{
		margin-bottom: 20px;
		text-align: center;
	}

	.burger_icon:before
	{
		top: 0;
	}

	.burger_icon:after
	{
		bottom: 1px;
	}

	.burger_icon span
	{
		position: absolute;
		top: 8px;
		width: 100%;
		background-color: #fff;
		left: 0;
		height: 3px;
	}

	.burger_submenu > ul > li:hover > a
	{
		color: black;
	}

	.burger_submenu > ul > li:hover > .menu_arrow
	{
		color: black;
	}

	.burger_submenu > ul > li:hover > .submenu
	{
		display: flex;
		font-size: 20px;
		position: static;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 110px;
		background-color: #4E3493;
		padding: 5px;
	}

	.ref > nav
	{
		display: none;
	}

	.ref > .burger_menu
	{
		width: 70%;
		font-size: 25px;
		justify-content: flex-end;
		font-family: Montserrat;
	}

}

@media screen and (max-width: 650px)
{
	.copyrightANDaddress
	{
		font-size: 7px;
	}
	.footer_nav
	{
		font-size: 10px;
	}
	header
	{
		background-position: -100px 0px;
	}

	.ref_logo > p
	{
		font-size: 20px;
	}

	.ref > nav
	{
		font-size: 12px;
	}
}

@media screen and (max-width: 550px)
{
	.title
	{
		font-size: 40px;
		text-align: center;
	}
	.logo > h1
	{
		font-size: 25px;
	}
	.logo > a
	{
		font-size: 10px;
		border:solid 1px white;
		padding: 10px 10px;
	}
	.footer_nav
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer_nav > a
	{
		margin: 5px 8px;

	}

	header
	{
		background-position: -200px 0px;
	}
	.news_slider
	{
		max-width: 550px;
		height: 300px;
	}
	main.index_main
	{
		margin-top: -450px;
	}

	.slide_photo_1
	{
		background-image: url(../images/slider/img1.png);
		max-width: 751px;
		height: 200px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: cover;
	}

	.slide_photo_2
	{
		background-image: url(../images/slider/img2.png);
		max-width: 751px;
		height: 200px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: cover;
	}

	.slide_photo_3
	{
		background-image: url(../images/slider/img3.png);
		max-width: 751px;
		height: 200px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: cover;
	}

	.news_slider
	{
		max-width: 550px;
		height: 210px;
	}

}

@media screen and (max-width:400px)
{
	.news_slider
	{
		max-width: 400px;
		height: 159px;
	}

	.slide_photo_1
	{
		background-image: url(../images/slider/img1.png);
		max-width: 751px;
		height: 150px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: cover;
	}

	.slide_photo_2
	{
		background-image: url(../images/slider/img2.png);
		max-width: 751px;
		height: 150px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: cover;
	}

	.slide_photo_3
	{
		background-image: url(../images/slider/img3.png);
		max-width: 751px;
		height: 150px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: cover;
	}
}

.page_switch
{
	margin:100px auto 0px;
}
.page_switch > input[type=radio]
{
	display: none;
}

.page_switch label
{
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	font-family: 'Montserrat';
}

.page_switch input[type=radio]:checked + label
{
	background: #ffe0a6;
}

.page_switch input[type=radio]:hover
{
	cursor: pointer;
}



.product_page
{
	max-width: 90%;
}

.product_name
{
	font-size: 34px;
	font-family: Montserrat SemiBold;
	align-self: center;
	margin-top: 120px;
	margin-bottom: 30px;
	text-align: center;
}

.product_block
{
	display:flex;
	justify-content: space-around;
	margin-top: 20px;

}

.product_slider
{
	max-width: 600px;
	height:380px;
	border:solid 1px #4E3493;
}

.product_image
{
	max-width: 600px;
	height:370px;
}

.product_buy_info
{
	width: 250px;
	height: 380px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.paragraph_stile
{
	font-size: 15px;
	font-family: Montserrat Regular;
	text-align: left;
}

.price
{
	font-size: 30px;
	color: #4E3493;
	font-weight: bold;
}

.product_buy_info > a
{
	text-decoration: none;
	font-family: Montserrat SemiBold;
	font-size: 15px;
	color: white;
	max-width: 250px;
	height: 45px;
	padding: 10px 30px;
	background-color: #4E3493;
	border:solid #4E3493 2px;
}

.product_buy_info > a:hover
{
	color: #4E3493;
	transition: 0.3s;
	background-color: white;
}

.description_block
{
	flex-direction: column;
	margin:150px auto 0px;
	width:70%;
}

.product_description
{
	font-size: 30px;
	font-weight: bold;
	text-align:center;
	margin-bottom: 10px;
	background-color: grey;
	padding: 10px 0px;
}


.specification_row
{
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;
}

.specification_text
{
	display: inline-block;
	border-bottom:1px solid #cabebe;
	width: 100%;
	margin-right: 15px;
}

/*Страница регитсрации/ авторизации*/

.reg_main
{
	margin: 0px 0px -100px;
	height: 1000px;
	max-width: 100%;
	background-image: url(../images/Header_reg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -200px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reg_window
{
	height: 500px;
	width: 450px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.reg_article
{
	font-family: Montserrat Medium;
	font-size: 24px;
	margin-bottom: -90px;
}

.reg
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 300px;
}

.input_style
{
	font-family: Montserrat Regular;
	max-width: 300px;
	height: 30px;
	font-size: 15px;
	padding-left: 10px;
    margin-bottom: 5px;
}

.reg_button
{
	background-color: #4e3493;
	border:none;
	border-radius: 2px;
	opacity: 0.9;
	max-width: 315px;
	color: white;
}

.reg > input:last-child:hover
{
	opacity: 1;
	transition: 0.3s;
	cursor: pointer;
}


/*ЛИЧНЫЙ КАБИНЕТ*/

.lc_container
{
	margin-top: 120px;
	flex-direction: row;
}

.lc_menu
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 100px;
}

.lc_menu_article
{
	font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
    background: linear-gradient(#faf8f81f, rgb(202 191 191 / 40%));
    padding: 10px 0px;
    border-bottom: 1px grey solid;
    width: 212px;
}

.lc_menu_under_article_block
{
	width: 190px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border:#eeecec solid 1px;
	min-height: 100px;
	margin-bottom: 20px;
	padding: 10px 10px;
}

.lc_menu_under_article_block > a
{
	text-decoration: underline;
	color: black;
}

.lc_info
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	width: 600px;
	justify-content: space-between;
}


.order_card
{
	width: 100%;
	border:solid 1px #eeccec;
	height: 150px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.order_card_top
{
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1200px)
{
	.product_name
	{
		display: block;
		min-height: 100px;
		width: 65%;
	}

	.product_block
	{
		flex-direction: column;
		align-items: center;
	}

	.description_block
	{
		width: 100%;
		display: block;
	}

	.product_buy_info
	{
		margin-top: 70px;
	}
}

@media screen and (max-width: 770px)
{
	.product_name
	{
		font-size: 15px;
	}

	.product_slider
	{
		width: 100%;
		height: 20%;
	}

	.product_image
	{
		width: 100%;
		height: 20%;
	}
	.lc_container
	{
		flex-direction: column;
		margin: 150px auto;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.lc_menu
	{
		margin: 0 auto;
	}


	.reg
	{
		align-items: center;
	}

	.reg_article
	{
		margin: 10px auto;
	}

	.lc_info
	{
		width: 100%;
	}

	.order_card
	{
		width: 80%;
		margin: 10px auto;
	}

	.reg_window
	{
		width: 70%;
		height: 50%;
	}
}

@media screen and (max-width: 440px)
{

	.reg_article
	{
		margin: 10px auto;
		font-size: 15px;
	}

	.input_style
	{
		max-width: 	440px;
	}

	.reg_button
	{
		width: 170px;
	}

	.order_card > div > .paragraph_stile
	{
		font-size: 10px;
	}
	.order_card > div > div > .paragraph_stile
	{
		font-size: 10px;
	}

	.description_block
	{
		font-size: 20px;
	}

}

/*Корзина*/
.cart_container
{
	margin: 120px auto 0px;
	flex-direction: column;
	justify-content: center;
	width: 80%;

}

.cart_article
{
	margin-bottom: 20px;
}

.cart_block
{
	display: flex;
	justify-content: space-between;
	width: 1000px;
	border:1px solid grey;
	border-bottom: none;
}

.cart_block_bottom
{
	display: flex;
	width: 1000px;
	margin: 10px 0px;
	border:1px solid grey;
	border-top: none;
}

.cart_block_bottom > p:nth-child(2)
{
  margin-left: 70px;
}

.cart_block_bottom > p:nth-child(3)
{
  margin-left: 90px;
}

.cart_block_bottom > p:nth-child(4)
{
  margin-left: 285px;
}

@media screen and (max-width: 1400px)
{
	.cart_container
	{
		width: 100%;
	}
	.cart_info
	{
		flex-direction: row;
	}

	.cart_block
	{
		flex-direction: column;
		display: flex;
		justify-content: space-between;
		width: 100px;
		border-bottom: 1px solid grey;
		border-right: none;
	}

	.cart_block_bottom
	{
		display: flex;
		flex-direction: column;
		width: 600px;
		margin: 0px;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid grey;
		border-left: none;
	}
	.cart_block_bottom > p:nth-child(2)
	{
	  margin-left:0px;
	  margin-top: 10px;
	}

	.cart_block_bottom > p:nth-child(3)
	{
	  margin-left:0px;
	  margin-top: 10px;
	}

	.cart_block_bottom > p:nth-child(4)
	{
	  margin-left: 0px;
	  margin-top: 10px;
	}

}

@media screen and (max-width: 400px)
{
	.cart_paragraph
	{
		font-size: 10px;
	}
}

/*Оформление заказа*/
@media screen and (max-width: 770px)
{
	.checkout_article
	{
		margin: 10px auto;
		text-align: center;
	}
}

.create_product
{
	min-height: 1400px;
}

